*{
    margin:0px;
    box-sizing: border-box;
    padding: 0px;
}


#myVideo{
    width: 100%;
   height: 100%;
   backdrop-filter: blur(15px);
   background: transparent;
}



.container{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    backdrop-filter: blur(15px);
    background: transparent;
    display: flex;
    align-items: center;
    
 
   
 
}


.box{
    width: 400px;
    height: 420px;
    background-color: #222222;
    gap: 50px;
    color: white;
    box-shadow: inset 1px 0px 0 4px #710199;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



input:focus{
    outline: none;
}


input {
    background: transparent;
    color: white;
    padding-left: 10px;
    border: none;
    font-size: 1.2em;
    border-bottom: 2px solid #710199;
}


.container-input{
    margin-top: 1em;
}


.container-input {
    margin: 1em 0em 1em 0em;
}


label {
    font-size: 1.1em;
    font-weight: bold;
}


.social_media {
    display: flex;
    gap: 26px;
}

.forgot-password{
    text-align: center;
}

.forgot-password a {
    color: white;
    text-decoration: none;
}

button {
    width: 170px;
    padding: 10px;
    background: #710199;
    border-radius: 5px;
    border: none;
    transition: 1s;
}


button:hover{
    width: 220px;
    background: #710199;
    transition: 2s;
}

button a{
    color: white;
   text-decoration: none;
}


.title {
    color: #710199;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 8px;
    line-height: 1px;
    text-transform: uppercase;
    padding-top: 20px;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 0.5em;
    background-color: #222222;
  }


  ::-webkit-scrollbar-thumb {
    background: rgb(28, 2, 70); 
    border-radius: 10px;
  }

  /* End Scrollbar */



@media only screen and (max-width: 720px){

    #myVideo {
        width: 100vw;
        object-fit: cover;
        height: 100vh;
        backdrop-filter: blur(10px);
        background: transparent;
    }

    .box{
        width: 90%;
    }
}
